#applyform{
    height: 200vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 115, 115);
}
#apply{
    height: 190vh;
    width: 60%;
    border:1px solid black;
    background-color: whitesmoke;
}
#cont1{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cont1 h1{
    font-size: 50px;
}
#cont1 img{
    height: 300px;
    width: 300px;
}
#cont1 p{
    font-size: 30px;
}
#cont1 input{
    height: 30px;
    width: 1000px;
    font-size: 25px;
}
.cont{
    height: 20vh;
    width: 100%;
}
#cont2{
    display: flex;
    justify-content: space-around;
}
#cont2 p{
    font-size: 30px;
}
#cont2 input{
    height: 30px;
    width: 400px;
    font-size: 25px;
}

#cont3{
    display: flex;
    justify-content: space-around;
}
#cont3 p{
    font-size: 30px;
}
#cont3 input{
    height: 30px;
    width: 400px;
    font-size: 25px;
}
#cont4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#cont4 p{
    font-size: 30px;
}
#cont4 input{
    height: 30px;
    width: 1000px;
    font-size: 25px;
}
#cont5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#cont5 p{
    font-size: 30px;
}
#cont5 div{
    height: 20vh;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
#cont5 div input{
    height: 30px;
    width: 400px;
    font-size: 25px;
}
#button{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
    height:40px;
    width:300px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(247, 123, 123);
}


