#big{
    height: 100vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#small{
    height: 80vh;
    width: 60%;
    border: 1px solid black;
    display: flex;
}
#image{
    height: 80vh;
    width: 50%;
    border: 1px solid black;
}
img{
    height: 80vh;
    width: 100%;

}
#login{
    height: 80vh;
    width: 50%;
    border: 1px solid black;
    padding-left: 50px;
}
