#big{
    height: 100vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#small{
    height: 80vh;
    width: 70%;
    border: 1px solid black;
    display: flex;
}
#image{
    height: 80vh;
    width: 50%;
    border: 1px solid black;
}
img{
    height: 80vh;
    width: 100%;

}
#login{
    height: 80vh;
    width: 50%;
    border: 1px solid black;
    padding-left: 50px;
    background-color: rgb(35, 35, 35)
}
h1{
    font-size: 40px;
    color: whitesmoke
}
#para{
    font-size: small;
    color: antiquewhite;
}
.same{
    font-size: 25px;
    color: azure;
}
input{
    height: 35px;
    width: 400px;
    border-color: red;
}
#forgotPass{
    height: 40px;
    width: 400px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
}
button{
    height: 40px;
    width: 400px;
    font-size: 20px;
    color: whitesmoke;
    background-color: rgb(166, 33, 33);
}
