#big{
    height: 100vh;
    width: 100%;
    display: flex;

}
#image{
    height: 100vh;
    width: 60%;
}
img{
    height: 100vh;
    width:100%
}
#signup{
    height: 100vh;
    width:40%;
    padding-left: 80px;
    background: linear-gradient(to right, rgb(31, 66, 31),rgb(247, 247, 175),rgb(31, 66, 31))
}
h1{
    font-size: 40px;
}
.para{
    font-size: 25px;
}
.input{
    height: 25px;
    width: 300px;
    font-size: 20px;
    box-shadow: 2px 2px 20px 10px rgb(203, 223, 239);
}
button{
    height: 30px;
    width: 200px;
    font-size: 20px;
    border-radius: 5px ;

}
